<div class="privacy-policy">
	<h1>Privacy Policy</h1>
	<p>I do nothing with your information. I don't share it with anyone, I don't send you emails, I can't remind you of your password. In fact, you probably shouldn't use an important password, just type "password123" or something.</p>
	<p>The reason you have to sign up to use this app is so that you can review your past searches.</p>
	<p>Happy searching, go shed some light!</p>
</div>