<div class="splash-container">
  <img src="https://raw.githubusercontent.com/juliagra/rails-sunlight-project/master/app/assets/images/flashlight.png" border="0">

  <div class="splash">
        <h1 class="splash-head">Sunlight Project</h1>
        <p class="splash-subhead">Search campaign contributions</p>
        
  </div>
</div>