<!-- <div class="container">
  <h1>Sunlight Project</h1>
  <p>Search campaign contributions</p>
</div> -->

<div class="splash-container">
  <img src="https://raw.githubusercontent.com/juliagra/rails-sunlight-project/master/app/assets/images/flashlight.png">

  <div class="splash">
        <h1 class="splash-head"></h1>
        <p class="splash-subhead">
          Sunlight Project
          <p>Search campaign contributions</p>
        </p>
  </div>
</div>