<div class="privacy-policy">
	<h3>Privacy Policy</h3>
	<p>I do nothing with your information.</p>
	<p>I don't share anything with anyone, I don't send you emails, I can't remind you of your password. In fact, you probably shouldn't use an important password. Or even bother with a real email.</p>
	<p>The reason you have to sign up to use this app is so that you can review your past searches.</p>
	<p>Happy searching, go shed some light!
	<br><%= link_to "Back to registration", new_user_registration_path %></p>
</div>