<div id="results">
	<div id="results-header">
		<p>Total contributions to <%= @search.politician %> from <%= @search.organization %> since <%= @search.year %>:  
			<br>
		 <strong>$<%= @search.total %></strong></p>
	</div>

</div>