// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.splash-container {
    background: #3B5182;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100%;
/*    changed height for now, to be full screen */
    top: 50px;
    left: 0;
    position: fixed;
    /* position: fixed !important; */
}

.splash-container img {
  width: 75%;
  height: 100%;
  border-style: none;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 0px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 60px;
    font-weight: bold;
    color: black;
    border: none;
    border-radius: 5px;
    line-height: 1em;
    padding-top: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    opacity: 0.8;
}